.products_all-productss_content{
    width: 100%;
    height: auto;
    padding: 0 0px 40px 0px;

    // justify-content: center;
    // align-items: center;
    &_left{
        width: 100%;
        height: auto;
        padding: 20px 0;
        &_heading{
            width: 100%;
            height: 50px;
            line-height: 50px;
            h2{
                font-size: 22px;
            }
        }
        .table{
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            text-align: left;
           
            tr{
                th{
                    border-left: 1px solid var(--chudaohover);
                    padding-top: 12px;
                    padding-bottom: 12px;
                    background-color: var(--chudao);
                    text-align: center;
                    color: white;
                    height: 60px;
                    
                    &:first-child{
                      width: 5%;
                      border-top-left-radius: 12px;
                      border-left: none;
                    }
                    &:nth-child(2){
                        width: 20%;
                    }
                    &:nth-child(3){
                        width: 30%;
                    }
                    &:nth-child(4){
                        width: 15%;
                    }
                    &:nth-child(5){
                        width: 15%;
                    }
                    &:last-child{
                        width: 15%;
                        text-align: center;
                        border-top-right-radius: 12px;
                    }
                }
                 td{
                    border: 1px solid #ebeaea;
                    padding: 8px 8px 8px 14px;
                    font-size: 14px;
                    text-align: center;
                    
                    &:nth-child(2){
                        padding: 0;
                        border-left:none;
                        border-right: none;
                        img{
                            width: 140px;
                            height: 140px;
                        }
                    }
                    
                    &:nth-child(3){
                        text-align: left;
                        border-left:none;
                        border-right: none;
                    }
                    &:last-child{
                       
                        padding: 0;
                    }
                    
                }
            }
            
            
            
        }
    }
    &_right{
        width: 100%;
        min-height: 300px;
        display: flex;
        justify-content: flex-end;
        .productss_content_right{
            
            &_thongtin{
                
                width: calc(100% - 320px);
                height: auto;
                padding: 20px 60px 10px 60px;
                border: 1px solid #ddd;
                border-radius: 13px;
                margin-right: 20px;
                font-size: 16px;
                font-weight: 500;
                td:first-child{
                    width: 150px;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.76);
                }
                td:nth-child(2){
                    width: 50px;
                }
                tr:last-child td{
                    text-align: center;
                   a{
                       font-size: 18px;
                       font-weight: 600;
                       color: #FF9933;
                       transition: 0.2s linear;
                       &:hover{
                           color: #be7327;
                       }
                   }
                }
            }
            &_tongtien{
                width: 300px;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                padding: 20px 30px;
                border: 1px solid #ddd;
                border-radius: 13px;  
                background-color: rgb(241, 241, 241);
                h2{
                    font-size: 22px;
                    font-weight: 600;
                   
                }
                .tongtien{
                    
                    
                    &_table{
                        width: 100%;
                        // text-align: center !important;
                        font-size: 13px;
                        
                        th{
                            text-align: left;
                            padding-bottom: 12px;
                        }
                        td{
                            text-align: right;
                            padding-bottom: 12px;
                        }
                    }
                    &_dathang{
                        width: 100%;
                        height: auto;
                        
                        text-align: center;
                        line-height: 35px;
                        
                        a{
                            padding: 10px 25px;
                            background-color: red;
                            border-radius: 10px;
                            font-weight: 600;
                            font-size: 15px;
                            color: white;
                            &:hover{
                                background-color: rgb(0, 221, 250);
                            }
                        }
                    }
                }
            }
        }
    }
}

.productss_form_thanhcong{
    width: 100%;
    height: 700px;
    text-align: center;
    padding: 40px;
    h2{
        font-size: 30px;
        font-weight: 600;
        padding:  0 0 20px 0;
    }
    p{
        font-size: 22px;
        font-weight: 500;
        padding:  0 0 15px 0;
        
    }
    a{
        margin-top: 10px;
        color: white;
        font-weight: 500;
        font-size: 12px;
        padding: 11px 20px;
        border-radius: 10px;
        background-color: var(--chudaohover);
        transition: all 0.25s linear;
        i{
            margin-right: 5px;
            color: white;
        }
        &:hover{
            background-color: #2A69B2;
            
        }
    }
}